APP_ENV=local
LOG_LEVEL=INFO

RAW_DATA_DIR = raw-data

QDRANT_URL= http://localhost:6333
QDRANT_COLLECTION= hr_docs_local

OPENAI_API_KEY=
OPENAI_CHAT_MODEL=
OPENAI_EMBEDDING_MODEL=text-embedding-3-small


BASIC_AUTH_USERNAME=
BASIC_AUTH_PASSWORD=