APP_ENV=local
LOG_LEVEL=INFO

RAW_DATA_DIR = raw-data


OPENAI_API_KEY=
OPENAI_CHAT_MODEL= gpt-4o
OPENAI_EMBEDDING_MODEL=text-embedding-3-small

API_USERNAME=
API_PASSWORD=

# --- Cấu hình Qdrant Cloud mới (Thay cho localhost) ---
QDRANT_URL=
QDRANT_API_KEY=
COLLECTION_NAME=hr_policies_production



LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL="https://cloud.langfuse.com"